node_modules
npm-debug.log
typings

*.js
!karma.conf.js
*.map
*.d.ts
!custom.d.ts
*.metadata.json
*.ngsummary.json
*.ngfactory.ts

# JetBrains
.project
.settings
.idea

# VS Code
.vscode/*

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store
dist/
